<h1>Struggling Students</h1>

<div class="struggling">
  <ul>
    <% @students.each do |student| %>
    <li>
      Score: <%= student.current_score %>%,
      Student name: <%= student.first_name %> <%= student.last_name %> :
      Teacher name: <%= student.teacher.first_name %> <%= student.teacher.last_name %>
    </li>
    <% end %>
  </ul>
</div>
